---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Works</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.publications %}
          <p class="fw-bold">{{ section.title }}</p>
		  <p><a href="{{ section.url }}">{{ section.description }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
